<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HAsset web图片</title>
    <link href="/public/images/hasset/logo_blue.ico" rel="icon" sizes="32x32" type="image/png" />
    <link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.css" rel="stylesheet" />
    <link href="http://localhost:8080/system/imageAsset-bundle.css" rel="stylesheet" />
</head>

<body>
    <div id="app"></div>
    <script>
        window.imageList = {{{imageList}}}
    </script>
    <script src="http://localhost:8080/system/imageAsset-bundle.js"></script>
</body>

</html>